.doc-view-container {
    background-color: #fff;
    padding: 50px 80px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    max-width: 1000px;
    min-width: 700px;
    min-height: 90vh;
    max-height: 90vh;
    overflow: auto;
    margin: auto;

    .header-view-content {
        text-align: center;

        .left {
            font-family: 'Times New Roman', Times, serif;
            font-weight: 700;
            line-height: 1.3;
        }

        .emblem {
            width: 100px;
        }

        span {
            color: #543A76;
            text-decoration: underline;
        }
    }

    .content-text {
        margin-top: 20px;
    }

    p {
        margin: 0;
    }

    .ql-align-right {
        text-align: right;
    }

    .ql-align-center {
        text-align: center;
    }

    .ql-align-justify {
        text-align: justify;
        margin: 0.5rem 0;
    }
}

@media screen and (max-width) {}